 #root {
  max-width: 100vw;
  margin: 0 auto; 

}  

.base{
  display: grid;
  grid-template-columns: 15dvw 85dvw;
  grid-template-rows: auto;
  
}

.sidebar{
  
  grid-row: 1;
 top: 0px;
 height: 100dvh;
 width: 15dvw;
 background-color: dodgerblue;
  
  position:fixed;
  display: flex;
   border: 1px solid black;
   border-right: none;
   z-index: 2;
  
}
.sidebar ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style-type: none;
  left: 0px;
  margin-left: 0px;
  margin-top: 5rem;
  margin-right: 0px;
  padding-left: 0px;
  row-gap: 2rem;
  flex-basis: auto;
}
.body{

  position: absolute;
  top:0rem;
  left: 15dvw;
  
}
.children{
  margin-top: 0px;
  margin-left: 10px;
  padding-left: 10px;
 
}
.card-outer{
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  
}
.card{
  width: 18rem;
  height: 300px;
  word-wrap: break-word;
  
}
.card p{
  font-weight: 600;
  color: red;
}
.button-grp{
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 5rem;
  justify-content: space-around;
}
.detail-card{
  width: 18rem;
  height: 450px;
}
.author-button-grp{
  position: absolute;
  bottom: 1rem;
  display: flex;
  gap: 5rem;

}
.sidebar ul li{
  border: 2px solid red;
  border-radius: 5px;
  background-color: aliceblue;
  width: 14vw;
  
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  text-align: center;
}

.home{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  width: 70dvw;
  position: absolute;
  left: 5dvw;
  top:8rem;
  background-color: rgb(212, 202, 202);
  border-radius: 1rem;
}
.header{
  position: relative;
  top:-22px;
   padding-top: 30px;
  margin-top: 0px; 
  
  background-color: dodgerblue;
  width: 83dvw;
  
}
.sidebar ul li:active{
  border: 2px solid green;
  box-shadow: 5px 5px ,green;
}
.sidebar ul li:hover{
  
  box-shadow: 0px -25px 20px -20px rgba(138,221,49,1),
25px 0px 20px -20px rgba(138,221,49,1),
0px 25px 20px -20px rgba(138,221,49,1),
-25px 0px 20px -20px rgba(138,221,49,1);
  
}
.header h1{
  padding-left: 20px;
}
.card:hover{
  box-shadow: 0 60px 80px rgba(0,0,0,0.60), 0 45px 26px rgba(0,0,0,0.14);
}
form{
  background-color: skyblue;
  padding-bottom: 10px;
}